<log4net>
<appender name="ElasticSearchAppender" type="log4stash.ElasticSearchAppender, log4stash">
  <Server>logs.salontracker.co.uk</Server>
  <Port>9200</Port>
  <IndexName>apptrackerapp-%{+yyyy.MM.dd}</IndexName>
  <IndexType>log</IndexType>
  <Bulksize>10</Bulksize>
  <BulkIdleTimeout>1000</BulkIdleTimeout>
  <IndexAsync>True</IndexAsync>
  <ElasticFilters>
    <Add>
      <Key>AppCode</Key>
      <Value>Admin</Value>
    </Add>
    <Filter type="AppTracker.WebCommon.Util.LoggerContextFilter, AppTrackerWebCommon" />
    <kv />
  </ElasticFilters>
</appender>

  <root>
    <level value="ALL"/>
    <appender-ref ref="ElasticSearchAppender"/>
  </root>

</log4net>